In [1]:
#Tuples

In [4]:
tuple = ('a','b')
print(type(tuple))

<class 'tuple'>

In [5]:
tuple = ('a','b','a') # allow duplicate values
print(tuple)

('a', 'b', 'a')

In [6]:
tuple = ('a','b','a') # length of tuple
print(len(tuple))

3

In [7]:
A = ("abc", 34, True, 40, "male")  # tuple with data types
print(A)

('abc', 34, True, 40, 'male')

In [8]:
A = (1,2,3,4,5,6,7,8,9) #accessing tuple items
print(A[3])

4

In [12]:
A = (1,2,3,4,5,6,7,8,9) #negative indexing
print(A[-3])

7

In [23]:
a = ("apple", "banana", "cherry") #adding item
y = ("orange",)
a += y

print(a)

('apple', 'banana', 'cherry', 'orange')

In [37]:
fruits = ("apple", "banana", "cherry") #unpacking  a tuple

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [40]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry") #assigning rest of values to the one particular variable 

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [41]:
tuple1 = ("a", "b" , "c") #join two tuples
tuple2 = ('d', 'e', 'f')

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'd', 'e', 'f')

In [42]:
fruits = ("apple", "banana", "cherry") #multiplying tuples
x = fruits * 4

print(x)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')